.title{
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
	background-color: bisque;
}

#top-head{
	padding-bottom: 4%
}

.fade-in-text {
	animation: fadeIn 6s;
  }

  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

#welcome-banner{

	color:rgb(14, 47, 23);
	font-size: 40px;
	text-align:center;
	font-family:lucidia handwriting;
	border-radius: 20px;
	font-style: italic;
	
}

#enterButtons{
	padding: 20px;
}

#login{
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;
	border-radius: 30px;
	font-size: 35px;
	background-color: aquamarine;
	border-color: black;
	border-style:solid;
	box-shadow: 0px 5px black;
	padding: 20px;
}

#signUp{
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;
	border-radius: 30px;
	font-size: 35px;
	background-color: aquamarine;
	border-color: black;
	border-style:solid;
	box-shadow: 0px 5px black;
	padding: 20px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
	width: 100%;
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
	background-color: #45a049;
  }