<!-- New User Form -->
<div id="new-user">
    <form>
        <label for="signup-UserID">Username:</label>
        <input type="text" id="signup-UserID" name="username" placeholder="Username" required>
  
        <label for="signup-KeyID">Password:</label>
        <input type="password" id="signup-KeyID" name="password" placeholder="Password" required>
  
        <label for="signup-ReEnterPassword">Re-Enter Password:</label>
        <input type="password" id="signup-ReEnterPassword" name="reEnterPassword" placeholder="Re-enter Password" required>
  
        <label for="signup-Email">Enter Email:</label>
        <input type="email" id="signup-Email" name="email" placeholder="Email" required>
  
        <label for="signup-PhoneID">Enter Phone Number:</label>
        <input type="text" id="signup-PhoneID" name="phone-number" placeholder="Phone Number" required>
        
        <button id="submit">Submit</button>
    </form>
  </div>